<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uc3m.p4r4d0x.emergapp">

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- GPS permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network state permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value=" AIzaSyCrzW3K5St54mQQQfEASomTWHeYSPGqWDY" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmergencyActivity"
            android:label="@string/title_activity_emergency"
            android:parentActivityName=".HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uc3m.p4r4d0x.emergapp.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uc3m.p4r4d0x.emergapp.LoginActivity" />
        </activity>

        <!-- Services -->


        <!-- GPS service -->
        <service android:name=".servicios.GPSService" />
        <!-- FetchAddress service -->
        <service android:name=".servicios.FetchAddressService" />

        <activity android:name=".EmMessage1" />
        <activity android:name=".EmMessage2" />
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RankingActivity"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uc3m.p4r4d0x.emergapp.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".AchievementsActivity"
            android:label="@string/title_activity_achievements"
            android:parentActivityName=".HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uc3m.p4r4d0x.emergapp.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uc3m.p4r4d0x.emergapp.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".AccountConfigurationActivity"
            android:label="@string/title_activity_account_configuration"
            android:parentActivityName=".HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uc3m.p4r4d0x.emergapp.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".RewardsPActivity"
            android:label="@string/title_activity_rewards_p"
            android:parentActivityName=".HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uc3m.p4r4d0x.emergapp.HomeScreenActivity" />
        </activity>
    </application>

</manifest>
